* {
  margin: 0;
  padding: 0;
}

/* imported google fonts */
@import url('https://fonts.googleapis.com/css2?family=Crete+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* this header contains the a text and a manu-bar on top of the homepage */
.header {
  background-color: #3c3a39;
  display: flex;
  justify-content: space-between;
  padding: 40px;
  padding-left: 20px;
  padding-right: 20px;
  color: #fff;
  width: 375px;
  height: 92px;
}

/* styling the anchor tags  */
.header a {
  color: #fff;
  text-decoration: none;
  width: 77px;
  height: 24px;
  top: 10px;
  left: 12px;
  text-align: center;
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
  size: 18px;
  line-height: 24px;
  line-height: 114%;
  font-size: 18px;
  font-style: 'Bold';
}

/* social media handles page */
.social-networks-block img {
  margin-right: 10px;
  height: 20px;
  width: 17.99px;
  color: #dbd8d7;
}

.lang img {
  width: 18px;
  height: 18px;
  margin-right: 10px;
}

.top-stories img {
  width: 327px;
  height: 237px;
  margin-top: 25%;
}

/* this style is for the manu-bar */
.header nav img {
  width: 16px;
  top: 7px;
  left: 4px;
}

/* the content on the mainpage containing greetings message */
.content {
  display: flex;
  flex-direction: column;
  align-content: center;
  background: #1c1a19 url("images/ibg.svg") no-repeat;
  height: 590px;
  width: 375px;
  padding: 120px 24px 120px 24px;
  top: 92px;
  gap: 10px;
}

/* styling the greeting text */
.greeting-text {
  width: 327px;
  height: 124px;
  line-height: 64px;
  letter-spacing: 0.37px;
  font-weight: 400;
}

/* this is the h1 element in the greetings class */
.greeting-text h1 {
  color: #ff6b00;
  font-family: 'Crete Round', serif;
  font-style: 'Regular';
  vertical-align: top;
  font-size: 56px;
  font-weight: 100;
  line-height: 64px;
  letter-spacing: 0.37px;
}

/* this is what describes the mainpage */
.description {
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  size: 24px;
  line-height: 32px;
}

/* brief description of the text */
.description h3 {
  font-size: 24px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  line-height: 32px;
}

/* this is a paragraph */
.description p {
  font-family: 'Poppins', sans-serif;
  font-style: 'Regular';
  font-size: 12px;
  line-height: 24px;
  vertical-align: top;
}

/* this block handles the social media plateforms */
.social-networks-block {
  display: flex;
  margin-top: 0.3em;
  flex-direction: row;
  gap: 10px;
}

.social-networks-block li {
  list-style: none;
}

/* section2 talking about recent-works */
.recent-works {
  width: 375px;
  height: 300px;
  margin-top: 50px;
  gap: 80px;
}

/* h3 tag describing recent work text */
.works {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.recent-works hr {
  width: 327px;
  margin-left: 5%;
}

.works h3 {
  display: flex;
  font-family: 'Crete Round', serif;
  font-style: 'Regular';
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  vertical-align: center;
  color: #1c1a19;
  font-weight: 200;
}

/* main class of the recent section */
.recent {
  display: grid;
  justify-content: center;
}

/* h2 tag of the top-stories element */
.top-stories h2 {
  font-family: 'Crete Round', serif;
  font-style: 'Regular';
  font-size: 32px;
  line-height: 44px;
  vertical-align: center;
  color: #091e42;
  font-weight: 200;
  margin-top: 5%;
}

/* styling the paragraph text in article content */
.top-stories p {
  font-family: 'Inter', sans-serif;
  font-style: 'Regular';
  font-size: 16px;
  line-height: 24px;
  vertical-align: top;
  font-weight: 200;
}

/* styling the tools class */
.tools {
  display: flex;
  flex-direction: row;
  justify-content: left;
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
}

.tools li {
  list-style: none;
  padding: 8px;
  margin-right: 10px;
  border: 1px solid #8993a4;
  font-family: 'InaiMathi', sans-serif;
}

/* all this part is for the button */
.button {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 3%;
  text-align: center;
  background-color: #f55800;
  color: #fff;
  border: 2px solid #f55800;
  padding: 20px;
}

.button:hover {
  color: #ff6b00;
  background-color: #fff;
  border: 2px solid #f55800;
}

.button:active {
  color: #fff;
  background-color: #f55800;
}

.button:disabled {
  background-color: #5b5957;
}

/* this is another article class talking about professional art */
.art {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url("images/art.png");
  width: 327px;
  height: 386px;
}

/* styling various tags in the art class */
.art h2 {
  width: 295px;
  height: 81px;
  margin-top: 80px;
  margin-left: 16px;
  font-family: 'crete Round', sans-serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
  top: 16px;
}

.art p {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  margin-left: 20px;
}

.tools1 {
  display: flex;
}

.tools1 li {
  list-style: none;
  color: #fff;
  border: 0.5px solid rgba(255, 255, 255, 0.24);
  margin-right: 5px;
  background: rgba(255, 255, 255, 0.24);
  padding: 5px;
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-style: 'Medium';
  margin-left: 20px;
  font-size: 15px;
  line-height: 24px;
}

.article {
  margin-top: 10px;
}

/* about the Developer styling page */
.aboutme {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  width: 100%;
  height: 1820px;
  top: 4137px;
  background-color: #1c1a19;
}

/* styling the individual tags */
.aboutme h2 {
  font-family: 'Crete Round', sans-serif;
  font-style: 'Regular';
  width: 327px;
  height: 79px;
  font-weight: 400;
  line-height: 88px;
  letter-spacing: 0.37px;
  color: #ff6b00;
  font-size: 72px;
  vertical-align: top;
  margin-top: 120px;
}

.aboutme p {
  height: 148px;
  margin-top: 20px;
  margin-left: 24px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 24px;
  color: #f4f5f7;
}

/* the button tag styling */
.block-img-group button {
  margin-left: 35px;
  width: 161px;
  height: 48px;
  padding: 12px;
}

.aboutme hr {
  width: 327px;
  margin-right: 7%;
  background-color: #e5e5e5;
}

/* the main language class styling with it's individual tags */
.media-icons li {
  list-style: none;
}

.lang {
  color: #fff;
  margin-top: 30%;
}

.lang li {
  list-style: none;
}

.lang > ul li {
  width: 164px;
  height: 24px;
}

.lang li ul li {
  font-family: 'Inter', sans-serif;
  width: 162px;
  height: 24;
  font-size: 22px;
  line-height: 42.67px;
  text-align: center;
  font-weight: 400;
}

.lang > li:first-child {
  margin-left: 12px;
}

.lang > li:last-child {
  margin-left: 5px;
}

.lang li > span {
  width: 164px;
  height: 24px;
  font-size: 32px;
  font-weight: 700;
  font-family: 'InaiMathi', sans-serif;
  line-height: 44px;
  font-style: bold;
}

.block-img-group {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

/* the background image tag */
.block-img-group > div {
  background-image: url("images/Group.png");
  background-repeat: no-repeat;
  background-position: right;
  height: 300px;
  width: 200px;
  position: relative;
  left: -10px;
}

/* this section is solely for the contact page */
.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 375px;
  height: 844px;
  padding: 120px 24px 120px 24px;
  gap: 58px;
}

.contact-form h2 {
  font-family: 'Inter', sans-serif;
  font-style: bold;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
  vertical-align: top;
  text-align: center;
}

.forms {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
}

.forms input {
  width: 100%;
  padding: 10px 5px;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  margin-top: 15px;
}

/* this is the message box */
.forms textarea {
  width: 100%;
  height: 114px;
  margin-top: 20px;
  font-family: 'Inter', sans-serif;
  font-style: 'Regular';
  font-weight: 100;
  font-size: 15px;
  border: none;
  background-color: #e5e5e5;
}

/* get in touch button */
.forms button {
  width: 131px;
  height: 48px;
  margin-top: 30px;
  margin-left: 98px;
  padding: 12px;
  gap: 10px;
  font-family: 'Inter', sans-serif;
  font-style: bold;
  font-size: 17px;
  line-height: 24px;
  vertical-align: center;
  letter-spacing: 3%;
  cursor: pointer;
}

.media-icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 375px;
  height: 72px;
  gap: 20px;
  text-decoration: none;
}
